{% extends "ProyectoWebApp/base.html" %}

{% load static %}
{% block content %}
   <div class="contenerdorFormulario">

      {% if "valido" in request.GET %}
         <p>INFORMACION ENVIADA CORREACTAMENTE</p>
      {% endif %}
      {% if "noValido" in request.GET %}
         <p>INFORMACION NO ENVIADA </p>
      {% endif %}
      <form action = "" method="POST" style="text-align: center;">{% csrf_token %}
         <table style="color: azure; margin: 20px auto;">{{miFormulario.as_table}}</table>
         <input type="submit" value="Enviar" style = "width:150px">
      </form>
   </div> 
{% endblock %} 